<br>
<% @unwanteds.each do |unwanted| %>
  <h2> <%= unwanted.title %> </h2>
  <%= unwanted.description %>  
  <br>
  <%= image_tag unwanted.image_url(:thumb).to_s%>
  <br>
  <%= date = unwanted.created_at
      date.strftime("%y-%m-%d") %>
      <br>
  <%= link_to t('.show', :default => t("helpers.links.show")),
              unwanted_path(unwanted), :class => 'btn btn-default btn-xs' %> 
  <!-- if current.user is user that created unwanted -->
  <br>
  <br>
  <br>
<% end %>

<br>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_unwanted_path,
            :class => 'btn btn-primary' %>
