<h1> <%= @unwanted.title %> </h1> <br>
<%= @unwanted.description %> <br> 
<br>
<%= image_tag @unwanted.image %> <br>

<br>

<%= link_to t('.back', :default => t("helpers.links.back")),
              unwanteds_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_unwanted_path(@unwanted), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              unwanted_path(@unwanted),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
